* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(21, 26, 39, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.meme-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 24px;
}

img {
    width: auto;
    height: 300px;
    object-fit: cover;
    margin: 60px auto;
}

.btn {
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}